.box{
    width: 55vw;
    height: 55vh;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    left: 22vw;
    top: 15vh;
    border-radius: 10px;
}
.box h3{
    margin-left: 2vw;
    margin-top: 5vh;
}
.box hr{
    width: 50vw;
    margin-top: 2vh;
    margin-left: 2vw;
}

.box-items{
    width: 55vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,25vw);
    grid-template-rows: repeat(3,75px);
}

.box-items .item{
    width: 20vw;
    height: 60px;
    background-color: #F5F6F6;
    border-radius: 4px;
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .image{
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-image: url("https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63ec6052f3741a4f87af0f6d_Rectangle%201436-2.png");
    background-size: cover;
    border-radius: 3px;
    margin-left: 1vw;
}
.title{
    width: 15vw;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 25px; */
}
.title h3{
    margin-top: 0px;
}
.title p{
    color: #727272;
}



@media screen and (max-width: 950px) {
    .position{
        position: relative;
        top: 0vh;
        left: 0vw;
    }
}